.my-background {
  background: rgb(81, 81, 83);
  background: linear-gradient(
    90deg,
    rgba(81, 81, 83, 1) 0%,
    rgba(55, 52, 53, 1) 100%
  );
}

.slideInLeft {
  background-color: red;
  animation-duration: 4s;
}

@keyframes slideInLeft {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
